<div class="container">
    <div class="card mt-5" style="margin:auto;width: 600px;">
        <div class="card-body" (keyup.enter)="tryLogin()">
            <div class="form-group">
                <div class="alert alert-info" role="alert">
                    <p class="mb-0">You can use login '{{testLogin}}' and password '{{testPassword}}'</p>
                </div>
            </div>
            <h5 class="card-title">Login</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="email.address@example.text" [(ngModel)]="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" [(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="tryLogin()">Login</button>
        </div>
    </div>
</div>